.footer_wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #ddd;
    background: white;
}

.footer {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
}

.links {
    display: flex;
}

.social {
    color: #444;
    padding-right: 20px;
}

.social a {
    color: #444;
}

.social a:hover {
    color: #f44;
}