@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
.App {
  text-align: center;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  color: #222;
  margin: 0;
}

.spacer {
  height: 60px;
}