@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
.App {
  text-align: center;
}

.logo {
  font-family: inherit;
  font-size: 30px;
  color: #222;
  margin: 0;
}

.logo:hover, .logo::selection {
  -webkit-animation-name: code;
  -webkit-animation-duration: 1s;
  animation-name: code;
  animation-duration: 1s;
}

.skinny {
  font-size: 28px;
}

.mission {
  font-style: italic;
  color: #666;
}

.buisness_card p {
  font-size: 18px;
  margin: 0;
}

.buisness_card div h2{
  margin: 10px 0;
}

.spacer {
  height: 60px;
}

.welcome {
  font-size: 64px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
}

.welcome_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.buisness_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 70%;
  max-width: 700px;
  max-height: 320px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #ddd;
  padding: 50px;
}

.name:hover {
  -webkit-animation-name: nameanimation;
  -webkit-animation-duration: 1.2s;
  animation-name: nameanimation;
  animation-duration: 1.2s;
}

.redbox {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background: #f44;
  border: 2px solid #f44;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ddd;
}

.redbox:hover {
  -webkit-animation-name: nameanimation;
  -webkit-animation-duration: 1.2s;
  animation-name: nameanimation;
  animation-duration: 1.2s;
}

.project_ad {
  font-family: monospace;
  font-weight: normal;
}

.typing {
  max-width: 1024px;
}

@-webkit-keyframes nameanimation {
  0% {
    color: #fff;
  }
  30% {
    color: #f44;
  }
  100% {
    color: #fff;
  }
}

@keyframes nameanimation {
  0% {
    color: #fff;
  }
  30% {
    color: #f44;
  }
  100% {
    color: #fff;
  }
}

@-webkit-keyframes code {
  0% {
    color: #222;
  }
  25% {
    color: #5c1;
  }
  100% {
    color: #222;
  }
}

@keyframes code {
  0% {
    color: #222;
  }
  25% {
    color: #5c1;
  }
  100% {
    color: #222;
  }
}